<form action="/dinosaurs" method="post">

        <label for="dinosaurType">Type:</label>
        <input type="text" name="type" id="dinosaurType">

        <label for="dinosaurName">Name:</label>
        <input type="text" name="name" id="dinosaurName">    
  

    <button type="submit">Add a new Dino!</button>
</form>