<form action="/prehistoric_creatures" method="post">

    <label for="creatureType">Type of creature:</label>
    <input type="text" name="type" id="creatureType">

    <label for="creatureImg">Creature Image:</label>
    <input type="text" name="img_url" id="creatureName">    


<button type="submit">Add a new Creature!</button>
</form>